<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Referti Ginecologia</title>
	
	<link rel="stylesheet" href="css/bulma.min.css">
	<style>
		.grigio {background:gray}
		.verde {background:hsl(141, 71%, 48%)}
		.arancione {background:hsl(48, 100%, 67%)}
		.rosso {background:hsl(348, 100%, 61%)}
		abbr {color:#3273dc;}
	</style> 
	<script src="js/vue.js"></script>
    <script defer src="js/fontawesome.js"></script>
	<script src="js/taffy.js"></script>
	
	
	<script>
	var dataCorrente = new Date();
	var primoDelMese = new Date();
	primoDelMese.setDate(1);
	function adesso() {
		return dataCorrente.toISOString().substr(0,19);
	}
	var regexEuro = new RegExp('\\d(?=(\\d{3})+\\,)', 'g')

	Number.prototype.toEuro = function(n, x) {
		return this.toFixed(2).replace(/\./, ',').replace(regexEuro, '$&.');
	};
	Date.prototype.format = function() {
		return this.toISOString().split('T')[0];
	};
	var refertoType = {grigio: 'grigio', verde: 'verde', arancione: 'arancione', rosso: 'rosso'}
	
	var pazienteType = {
		id: null,
		nome: null, cognome: null, telefono: null, medico: null,
		tipoReferto: null,
		dataVisita: null,  //dataCorrente.format(),
		dataInvioLaboratorio: null,
		dataRitiroLaboratorio: null,
		dataNuovoAppuntamento: null,
		dataConsegna: null
	}
	var pazientidb = TAFFY([]);
	pazientidb.store("pazientidb");
	
	
	/*if (pazientidb().count()==0) {
		//for (i=0; i<10; i=i+2) {
			let p1 = {id:1,nome:'Alba',cognome:'Parietti',telefono:'0672657988',medico:'Colagiovanni',tipoReferto:'verde',
					  dataVisita: '2020-04-08',	dataInvioLaboratorio: '2020-04-10', dataRitiroLaboratorio: '2020-04-15', dataNuovoAppuntamento: '2020-04-20', dataConsegna: null}
			let p2 = {id:2,nome:'Raffaella',cognome:'Fico',telefono:'33378555220',medico:'Hyseni',tipoReferto:'arancione',
					  dataVisita: '2020-04-10',	dataInvioLaboratorio: '2020-04-12', dataRitiroLaboratorio: '2020-04-16', dataNuovoAppuntamento: null, dataConsegna: null}
			let p3 = {id:3,nome:'Antonella',cognome:'Elia',telefono:'32868005580',medico:'Hyseni',tipoReferto:'rosso',
					  dataVisita: '2020-04-11',	dataInvioLaboratorio: '2020-04-12', dataRitiroLaboratorio: '2020-04-16', dataNuovoAppuntamento: '2020-04-20', dataConsegna: '2020-04-20'}
			let p4 = {id:4,nome:'Maria',cognome:'De Filippi',telefono:'3499009900',medico:'Veraldi',tipoReferto:'grigio',
					  dataVisita: '2020-04-21',	dataInvioLaboratorio: null, dataRitiroLaboratorio: null, dataNuovoAppuntamento: null, dataConsegna: null}
			pazientidb.insert(p1);
			pazientidb.insert(p2);
			pazientidb.insert(p3);
			pazientidb.insert(p4);
		//}
	}*/
	
	
	function eliminaValoriNulli(ob) {
		for (let key in ob) {
		   if (ob.hasOwnProperty(key) && (ob[key]==null || ob[key]=='')) {
		      //console.log(key, ob[key]);
		      delete ob[key];
		   }
		}
	}
    function convertiValoriSpazioInNull(ob) {
		for (let key in ob) {
		   if (ob.hasOwnProperty(key) && ob[key]=='') {
		      ob[key]=null;
		   }
		}
	}
	
	function nextOperatore(idx) {
		if (idx==4)
			return 0;
		else
			return ++idx; 
	}
	</script>
	
</head>
<body>

	<span
		style="position: absolute; right: 10px; top: 64px; z-index: 10000000;">
		(testato solo con chrome browser) </span>

    <section id="applicazione">
	<nav class="navbar is-link" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<span class="icon is-large" style="margin-top:6px;margin-left:10px">
				<i class="fas fa-user-md fa-3x"></i>
			</span>
			<a role="button" class="navbar-burger" aria-label="menu"
				aria-expanded="false"> <span aria-hidden="true"></span> <span
				aria-hidden="true"></span> <span aria-hidden="true"></span>
			</a>
			<div id="navbarBasicExample" class="navbar-menu">
				<div class="navbar-start">
					<span class="navbar-item title">Referti Ginecologia</span>
				</div>
			</div>
		</div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <button class="button is-link" v-on:click="toExcel" title="esporta quanto presente in tabella su excel">
                  <span class="icon">
                    <i class="fas fa-lg fa-file-excel"></i>
                  </span>
                  <span>Export Xlsx</span>
                </button>
              </p>
              <p class="control">
                <button class="button is-link" v-on:click="esportaDB" title="esporta tutto il DB su file per backup.
E' consigliato tutte le sere.
Non si sa mai!">
                  <span class="icon">
                    <i class="far fa-lg fa-hdd"></i>
                  </span>
                  <span>Backup DB</span>
                </button>
              </p>
              <p class="control">
                <button class="button is-danger" v-on:click="backupEliminazionePazientiConRefertoConsegnato" title="eliminazione, previo backup su excel, dei pazienti
con data di Consegna del referto, più vecchia di 3 mesi">
                    <span class="icon">
                        <i class="far fa-lg fa-hdd"></i>
                    </span>
                    <span>Backup Xlsx</span>
				</button>
              </p>
            </div>
          </div>
        </div>
	</nav>

	<section class="section" style="padding-top:0px">
		<div  class="container">
			<h2 class="title" v-on:click.ctrl="resettaDB">paziente:</h2>
			<div class="columns">
				<div class="column field">
					<label class="label">nome: <abbr v-bind:class="hasOperatore">contiene</abbr></label>
					<p class="control">
						<input class="input is-primary" v-model="paziente.nome" @keyup.enter="filtra">
					</p>
					<p class="help">indicare il nome della paziente</p>
				</div>
				
				<div class="column field">
					<label class="label">cognome: <abbr v-bind:class="hasOperatore">contiene</abbr></label>
					<p class="control">
						<input class="input is-primary" v-model="paziente.cognome" @keyup.enter="filtra">
					</p>
					<p class="help">indicare il cognome della paziente</p>
				</div>
				
				<div class="column field">
					<label class="label">telefono: <abbr v-bind:class="hasOperatore">contiene</abbr></label>
					<p class="control">
						<input class="input is-primary" v-model="paziente.telefono" @keyup.enter="filtra">
					</p>
					<p class="help">indicare il numero di telefono del paziente</p>
				</div>
				
				<div class="column">
					<label class="label">medico: <abbr v-bind:class="hasOperatore">uguale</abbr></label>
					<p class="control select">
						<select class="input is-primary" v-model="paziente.medico" v-on:change="filtra">
							<option>Veraldi</option>
							<option>Colagiovanni</option>
							<option>Hyseni</option>
							<option>Bellantone</option>
							<option>Assorgi</option>
							<option>Guri</option>
						</select>
					</p>
					<p class="help">selezionare il medico che ha effettuato la visita</p>
				</div>
				<div class="column">
					<label class="label">referto: <abbr v-bind:class="hasOperatore">uguale</abbr></label>
					<p class="control">
						<select class="input is-primary" v-model="paziente.tipoReferto" style="width:100px" v-bind:class="paziente.tipoReferto" v-on:change="filtra">
							<option></option>
							<option class="grigio" value="grigio"></option>
							<option class="verde" value="verde">verde</option>
							<option class="arancione" value="arancione">arancione</option>
							<option class="rosso" value="rosso">rosso</option>
						</select>
					</p>
					<p class="help">selezionare il colore del referto</p>
				</div>
				<div class="column">
					<p class="control" style="padding-top:32px">
					<button class="button is-link" v-on:click="filtraReferti" title="tutti i referti ancora non ritornati dal laboratorio">
						<span class="icon is-small">
							<i class="fas fa-lg fa-microscope"></i>
						</span>
					</button>
					<button class="button is-link" v-on:click="filtraAppuntamenti" title="tutti i pazienti da chiamare (rossi e arancioni)
per concordare l'appuntamento con il medico">
						<span class="icon is-small">
							<i class="fas fa-lg fa-phone"></i>
						</span>
					</button>
					<button class="button is-link" v-on:click="filtraAppuntamentiMancati" title="tutti i pazienti (rossi e arancioni) con appuntamento,
ma che non hanno ritirato il referto,
overo non si sono ancora presentati">
						<span class="icon is-small">
							<i class="fas fa-lg fa-heartbeat"></i>
						</span>
					</button>
					<button class="button is-link" v-on:click="filtraUltimoMese" title="l'utimo mese">
						<span class="icon is-small">
							<i class="far fa-lg fa-calendar-alt"></i>
						</span>
					</button>
					<button v-bind:disabled="paziente.id!=null" class="button is-link" v-on:click="filtra" title="ricerca libera con i dati e gli operatori presenti nei campi">
						<span class="icon is-small">
							<i class="fas fa-lg fa-search"></i>
						</span>
					</button>
					</p>
					<p class="help">ricerche pre impostate</p>
				</div>
			</div>
			<div class="columns">
				<div class="column field">
					<a class="label" title="clicca per cambiare operatore di filtro" v-on:click="cambiaOperatore('dataVisita')">data visita:
					<abbr v-bind:class="hasOperatore">{{Object.keys( operatoreTipo[operatore.dataVisita] )[0] }}</abbr></a>
					<p class="control">
						<input class="input is-primary" v-model="paziente.dataVisita" type="date" @keyup.enter="aggiorna">
					</p>
					<p class="help">indicare la data della visita</p>
				</div>
				
				<div class="column field">
					<a class="label" title="clicca per cambiare operatore di filtro" v-on:click="cambiaOperatore('dataInvioLaboratorio')">data invio lab:
					<abbr v-bind:class="hasOperatore">{{Object.keys( operatoreTipo[operatore.dataInvioLaboratorio] )[0] }}</abbr></a>
					<p class="control">
						<input class="input is-primary" v-model="paziente.dataInvioLaboratorio"	type="date" @keyup.enter="aggiorna">
					</p>
					<p class="help">selezionare la data in cui è stato effettuato l'invio al laboratorio</p>
				</div>
				
				<div class="column field">
					<a class="label" title="clicca per cambiare operatore di filtro" v-on:click="cambiaOperatore('dataRitiroLaboratorio')">data ritiro lab:
					<abbr v-bind:class="hasOperatore">{{Object.keys( operatoreTipo[operatore.dataRitiroLaboratorio] )[0] }}</abbr></a>
					<p class="control">
						<input class="input is-primary" v-model="paziente.dataRitiroLaboratorio" type="date" @keyup.enter="aggiorna">
					</p>
					<p class="help">selezionare la data in cui è stato effettuato il ritiro dal laboratiorio</p>
				</div>
				
				<div class="column field">
					<a class="label" title="clicca per cambiare operatore di filtro" v-on:click="cambiaOperatore('dataNuovoAppuntamento')">data nuovo app:
					<abbr v-bind:class="hasOperatore">{{Object.keys( operatoreTipo[operatore.dataNuovoAppuntamento] )[0] }}</abbr></a>
					<p class="control">
						<input class="input is-primary" v-model="paziente.dataNuovoAppuntamento" type="date"  @keyup.enter="aggiorna">
					</p>
					<p class="help">selezionare la data in cui è stato prenotato un <i>eventuale</i> nuovo appuntamento con il medico</p>
				</div>
				
				<div class="column field">
					<a class="label" title="clicca per cambiare operatore di filtro" v-on:click="cambiaOperatore('dataConsegna')">data consegna ref:
					<abbr v-bind:class="hasOperatore">{{Object.keys( operatoreTipo[operatore.dataConsegna] )[0] }}</abbr></a>
					<p class="control">
						<input class="input is-primary" v-model="paziente.dataConsegna" type="date" @keyup.enter="aggiorna">
					</p>
					<p class="help">selezionare la data della consegna del referto</p>
				</div>
				
				<div class="column field">
					<p class="control" style="padding-top:32px">
					<button class="button is-danger" v-on:click="nuovo" title="pulisci campi per nuovo inserimento o per ricerca">
						<span class="icon is-small">
						  <i class="fas fa-lg fa-redo-alt"></i>
						</span>
					</button>
					<button class="button is-success" v-on:click="aggiorna" title="aggiorna">
						<span class="icon is-small">
							<i class="far fa-lg fa-save"></i>
							<!-- i class="fas fa-plus-circle"></i-->
						</span>
					</button>
					<button class="button is-danger" v-on:click="elimina" title="rimuovi il paziente selezionato">
						<span class="icon is-small">
							<i class="far fa-lg fa-trash-alt"></i>
						</span>
					</button>
                    </p>
				</div>
			</div>
		</div>
		<!-- div class="container">{{ paziente }}</div -->
		<!-- div class="container">{{ db().get() }}</div-->
		<!-- div class="container">{{ operatore }}</div-->
		<div class="container">
		<table class="table is-striped is-narrow is-hoverable is-fullwidth">
			<thead>
				<tr>
					<th>referto</th><th>nome</th><th>cognome</th><th>telefono</th><th>medico</th><th>data visita</th>
					<th>data invio lab.</th><th>data ritiro lab.</th><th title="nuovo appuntamento">data nuovo app.</th><th>data consenga ref.</th>
				</tr>
			</thead>
			<tbody v-for="p in dbfiltrato">
				<tr v-bind:class="selezionaRiga(p.id)" v-on:click="selezionaPaziente(p.id)"  title="se clicchi sulla colonna data del selezionato, se vuota, ne inserisci la data corrente">
					<td v-bind:class="p.tipoReferto">{{p.tipoReferto}}</td><td>{{p.nome}}</td><td>{{p.cognome}}</td><td>{{p.telefono}}</td><td>{{p.medico}}</td>
					<td >{{p.dataVisita}}</td>
                    <td style="cursor: cell" v-on:click="setDataCorrente(p.id, 'dataInvioLaboratorio')">{{p.dataInvioLaboratorio}}</td>
                    <td style="cursor: cell" v-on:click="setDataCorrente(p.id, 'dataRitiroLaboratorio')">{{p.dataRitiroLaboratorio}}</td>
                    <td style="cursor: cell" v-on:click="setDataCorrente(p.id, 'dataNuovoAppuntamento')">{{p.dataNuovoAppuntamento}}</td>
                    <td style="cursor: cell" v-on:click="setDataCorrente(p.id, 'dataConsegna')">{{p.dataConsegna}}</td>
				</tr>
			</tbody>
		
		</table>
		
		</div>
	</section>
	</section>
	
	
	
	
	
	
	<script>
		var app = new Vue({
			el : '#applicazione',
			data : {
				db : pazientidb,
				filtro : {},
				paziente : Object.assign({}, pazienteType),
				operatore: {nome:5, cognome: 5, telefono:5, dataVisita: 0, dataInvioLaboratorio: 0, dataRitiroLaboratorio:0, dataNuovoAppuntamento:0, dataConsegna:0},
				operatoreTipo: [{uguale: "is"},{precedente: "lte"},{successiva: "gte"},{diversa: "!is"},{vuota: "isNull"},{contiene: "likenocase"}]
			},
			computed : {
				dbfiltrato : function() {
					return this.db().filter(this.filtro).order("id desc").get();
				},
				hasOperatore: function() {
					return (this.paziente.id==null)?'':'is-hidden';
				}
			},
			methods : {
				aggiorna : function() {
					if (this.paziente.id==null) {
						this.paziente.id=this.db().max("id")+1;
						if (this.paziente.tipoReferto==null)
							this.paziente.tipoReferto='grigio';
						if (this.paziente.dataVisita==null)
							this.paziente.dataVisita=dataCorrente.format();
						this.filtro={dataVisita:dataCorrente.format()}
					} else {
                        convertiValoriSpazioInNull(this.paziente);
						filtroPrecedente = this.filtro;
						this.filtro = {id:-1}
						this.filtro = filtroPrecedente;
					}
					this.db.merge(this.paziente, "id", false);
				},
				elimina : function() {
					if (this.paziente.id!=null) {
						let ris = confirm("Confermi la rimozione del paziente: "+this.paziente.cognome+"?");
						if (ris) {
							this.db({id:this.paziente.id}).remove();
							this.filtro = {};
						}
					}
				},
				nuovo : function() {
					this.paziente =  Object.assign({}, pazienteType);
					this.filtro = {};
				},
				cambiaOperatore : function(op) {
					let idop = this.operatore[op];
					this.operatore[op] = nextOperatore(idop);
				},
				filtra : function() {
					if (this.paziente.id==null) {
						this.filtro = Object.assign({}, this.paziente);
						eliminaValoriNulli(this.filtro);
						
						let f = {};
						for (let key in this.filtro) {
						   if (this.filtro.hasOwnProperty(key)) {
						      //console.log(key, this.filtro[key]);
						      let oper = this.operatoreTipo[this.operatore[key]];
						      if (oper) {
						    	  //opk = Object.keys(oper)[0];
						    	  opv = Object.values(oper)[0];
						    	  let filtro = new Object();
						    	  filtro[opv] = this.filtro[key];
						    	  f[key] = filtro;
						      } else {
						    	  f[key] = this.filtro[key];
						      }
						   }
						}
						for (let key in this.operatore) {
							console.log(key, this.operatore[key]);
							if (this.operatore[key]==4){
								f[key] = {isNull:true}
							}
						}
						console.log(f);
						this.filtro = f;
					}
				},
				filtraUltimoMese : function() {
					this.paziente = Object.assign({}, pazienteType);
					this.paziente.dataVisita=primoDelMese.format();
					this.operatore.dataVisita=2;
					this.filtra();
				},
				filtraReferti : function() {
					this.paziente = Object.assign({}, pazienteType);
					this.filtro={dataInvioLaboratorio:{"!is":null},dataRitiroLaboratorio:null}
				},
				filtraAppuntamenti : function() {
					this.paziente = Object.assign({}, pazienteType);
					this.filtro={tipoReferto:["arancione","rosso"], dataRitiroLaboratorio:{"!is":null}, dataNuovoAppuntamento:null}
				},
				filtraAppuntamentiMancati : function() {
					this.paziente = Object.assign({}, pazienteType);
					this.filtro={tipoReferto:["arancione","rosso"], dataNuovoAppuntamento:{"!is":null}, dataConsegna:null}
				},
				salva : function() {
					//this.db.store("pazientidb");
					localStorage.setItem( "taffy_pazientidb", JSON.stringify( this.db().get() ));
				},
				selezionaPaziente : function(idx) {
					this.paziente= Object.assign({}, this.db({id:idx}).get()[0]);
				},
				selezionaRiga : function(idx) {
					return (this.paziente.id==idx)?'is-selected':'';
				},
                setDataCorrente : function(idx, dt) {
					if (this.paziente.id==idx) {
                        if (this.paziente[dt]==null){
                            this.paziente[dt]=dataCorrente.format();
                            this.aggiorna();
                        }
                    }
				},
				toExcel : function(bkp) {
					let wb = XLSX.utils.book_new();
					wb.Props = {
		                Title: "Ginecologia",
		                Subject: "Lista Pazienti Ginecologia",
		                Author: "Ilaria",
		                CreatedDate: new Date()
			        };
					wb.SheetNames.push("Pazienti");
					let dati = [["Nome", "Cognome", "Telefono", "Medico", "Tipo Referto", "Data Visita", "Data Invio Laboratorio", "Data Ritiro Laboratorio", "Data Nuovo Appuntamento", "Data Consenga Referto"]];
					for (rx in this.dbfiltrato) {
						r = this.dbfiltrato[rx];
						dati.push([r.nome, r.cognome, r.telefono, r.medico, r.tipoReferto, r.dataVisita, r.dataInvioLaboratorio, r.dataRitiroLaboratorio, r.dataNuovoAppuntamento, r.dataConsegna]);
					}
					let ws = XLSX.utils.aoa_to_sheet(dati);
					ws['!autofilter'] = { ref: "A1:J"+dati.length };
					wb.Sheets["Pazienti"] = ws;
					let wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
                    if (!bkp) bkp='';
					saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'pazienti-ginecologia-'+bkp+adesso()+'.xlsx');
				},
				esportaDB : function() {
					let db = JSON.stringify( this.db().get() );
					saveAs(new Blob([db],{type: "application/json"}), 'pazientidb-'+adesso()+'.json');
				},
				resettaDB : function() {
					let ris = confirm("Confermi la rimozione dell'intero db?");
					if (ris) {
						this.db().remove();
						this.filtro = {};
                        localStorage.removeItem( "taffy_pazientidb" );
					}
				},
                backupEliminazionePazientiConRefertoConsegnato : function() {
                    // decurtazione dal DB dei pazianti con dataConsegna valorizzata <= dataCorrente - 3 mesi.
                    let dataControllo = new Date();
                    dataControllo.setMonth(dataControllo.getMonth()-3);

                    this.filtro = {dataConsegna: {"!is": null}, dataConsegna: {lt:dataControllo.format()}}
                    this.toExcel("bkp-");

                    setTimeout(function(){
                        let ris = confirm("Controlla il file excell appena prodotto, se confermi quei pazienti verranno eliminani dal DB online, per mantenere l'applicazione più veloce. Confermi?");
                        if (ris) {
                            this.db(this.filtro).remove();
                            this.filtro = {};
                        }
                    }, 2000);
                }
			}
		});
		
		function s2ab(s) { 
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;    
		}
	</script>
	<script src="js/xlsx.full.min.js"></script>
	<script src="js/FileSaver.js"></script>
</body>
</html>
